<main>
    <br>
    <br>
<h2>CONTACTO</h2>
<br>
<br>
<div class="contacto">
<a href="https://www.instagram.com/ucpiadelviso/?hl=es-la" ><img src="../../../assets/Imagenes/Iconos/instagram.gif"> </a>
    <br>
    <br>
     <a href="https://www.instagram.com/ucpiadelviso/?hl=es-la"> @ucpiadelviso</a> <br>
     <br>
<a href="https://api.whatsapp.com/send?phone=+5491125043640&text=Hola!"><img src="../../../assets/Imagenes/Iconos/whatsapp.gif"></a>
    <br>
    <br>
    <a href="https://api.whatsapp.com/send?phone=+5491125043640&text=Hola!"> 112504-3640</a> <br>
    <br>
<a href="https://www.instagram.com/ucpiadelviso/?hl=es-la"><img src="../../../assets/Imagenes/Iconos/gmail.gif"></a> 
    <br>
    <br>
    <a href="https://www.instagram.com/ucpiadelviso/?hl=es-la">algo@mail.com</a><br>
    <br>
<a href="https://www.facebook.com/Union-De-Comerciantes-Profesionales-Industrias-Y-Afines-De-Delviso-101897028501219/"><img src="../../../assets/Imagenes/Iconos/Facebook.gif"></a>
    <br>
    <br>    
    <a href="https://www.facebook.com/Union-De-Comerciantes-Profesionales-Industrias-Y-Afines-De-Delviso-101897028501219/">UCPIA Del Viso </a><br>
<br>
<br>
</div>
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
</main>
