<!-- <main>
  <br>
  <br>  <br>
  <br><br>
  <br><br>
  <br>
  <br>
  <br>
<h2>PROXIMAMENTE!</h2>
<br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <br>
  <br><br>
  
<p></p>
</main> -->




<main>
    <br>
    <br>
<h2 class="titulo">NUESTROS PRINCIPIOS</h2>
  <br>
  <div class="grid-container">
      <p>
    
        Nuestro objetivo principal es promover la UNION de todos los comerciantes y profesionales estimulando la solidaridad entre 
        sus asociados, estimulando la participación 
        de las minorías para que TODOS se sientan representados, nos opondremos cuando una normativa resulte gravosa o 
        inconveniente en su aplicación, propiciando su revisión.  Apoyaremos toda iniciativa de carácter 
        comercial o industrial que propenda, al mejoramiento en general los comerciantes de Del Viso.
        <br>
        <br>
        EL LOGO que nos representa: Las manos unidas.Por que con las manos se siembra, se crea, se bendice, saludamos, acariciamos o golpeamos. De las manos surge el arte, 
        la escritura, la pintura o la artesanía. Las manos implican ACCION SIEMPRE. ¿Por qué Unidas? Es la génesis de nuestra entidad. La palabra UNION viene del latín, 
        específicamente surge del término “unus” que significa “uno”.  Y seremos tan fuertes como UNIDOS estemos.  ¿Por qué los colores del Arco Iris? Simbolizan los ideales 
        y objetivos de la paz universal, la unidad que supera las diferencias políticas, económicas, sociales, o religiosas y la esperanza de un mundo mejor 
        donde reinen la libertad y la dignidad personal. Les recordamos que los colores del Arco Iris también  representan al Cooperativismo, a Los Pueblos Originarios y a la 
        Diversidad de Género.   
        <br>
        <br>
        <br>
        <br>
    </p> 
     
  </div>
  <div class="img">
    <img src="../../../assets/Imagenes/FotoInicio.jpg" class="img">
  
 
</div> 
  <div class="parrafo2" >
    <!-- <p>
      <br>
      EL LOGO que nos representa: Las manos unidas.Por que con las manos se siembra, se crea, se bendice, saludamos, acariciamos o golpeamos. De las manos surge el arte, 
      la escritura, la pintura o la artesanía. Las manos implican ACCION SIEMPRE. ¿Por qué Unidas? Es la génesis de nuestra entidad. La palabra UNION viene del latín, 
      específicamente surge del término “unus” que significa “uno”.  Y seremos tan fuertes como UNIDOS estemos.  ¿Por qué los colores del Arco Iris? Simbolizan los ideales 
      y objetivos de la paz universal, la unidad que supera las diferencias políticas, económicas, sociales, o religiosas y la esperanza de un mundo mejor 
      donde reinen la libertad y la dignidad personal. Les recordamos que los colores del Arco Iris también  representan al Cooperativismo, a Los Pueblos Originarios y a la 
      Diversidad de Género.   
      <br>
      <br>
    </p>
  </div>

  <div class="grid-container">
    <div class="grid-item">
  <div class="parrafo3"> -->
    <!-- <p class="parrafo1">
      <br>
      Nuestros Ideales:crear una entidad que persista más allá de las individualidades, desalentando cualquier animo de perpetuarse en el poder, lo cual estará garantizado 
      por la rotación de quienes ejerzan las autoridades. 
      <br>
      <br>
    </p>
  </div>

  <div class="parrafo4">
    <p>
      <br>
      En palabras de Jean Monnet, “los hombres pasan, pero las instituciones quedan; nada se puede hacer sin las personas, pero nada subsiste sin instituciones”. 
      <br>
      <br>
    </p>  -->
   
  </div>
 
   <br> 
   <br>  



