<main>
<h1 class="titulo">SERVICIOS</h1>
<br>
<br>
<br>
<br>

<div class="grid-container-servicios">
    <div class="grid-item-servicios">
 
        <!-- <div class="servicios"> -->
            <a routerLink="farmacias"><img src="../../../assets/Imagenes/Iconos/FarmaciasIcono.png">
            <p>FARMACIAS DE TURNO</p></a>
           </div>
            <div class="grid-item-servicios">
            <a routerLink="telefonosUtiles"><img src="../../../assets/Imagenes/Iconos/SOSIcono.png">
                <p>TELÉFONOS ÚTILES</p></a>
                <br>
     
    </div>
</div>
</main>

<!-- <a target="_blank" href="https://hotelmix.es/weather/pilar-27032"><img src="https://w.bookcdn.com/weather/picture/1_27032_1_4_137AE9_160_ffffff_333333_08488D_1_ffffff_333333_0_6.png?scode=124&domid=582&anc_id=58788"  alt="booked.net"/></a><!-- weather widget end -->
       



