p{
    font-size: medium;
}

.botones{
    text-align: center;
    display: table;
}

.titulo{    
    font-size: 150%;
    text-align: center;    
    padding-top:5%;
}

.opcionesinicio:hover{
    background-color: blue;
}

body{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
}

.logo{
    margin-left: 3%;
    margin-top: 2%;
    width: 10%;
    border-radius: 20%;
}

.grid-container-servicios {
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: large;
    justify-content: center;
}

.grid-item-servicios {
    text-align: center; 
}

.grid-item-servicios img{
    width: 15%;
	height: auto;
	cursor: pointer;
    border-radius: 5% / 5%;
    top:2%;
}

.nombre{
    color: grey;
    font-size: small;
}

@media screen and (max-width:1000px) {
    h2{
        text-align: center;
        font-size: medium;
    }

    p{
        text-align: center;
        justify-content: center;
        text-align: justify;
        font-size: small;
    }     

    main{
        padding-bottom: 70%;
    }
    
    img{
        height: 40%;
        width:65%;
        margin-left: 3%;
        border-radius: 5%;
    } 
  
    nav {
        text-align: center;
        float:right;
        padding: 5%;
     }
     
     .grid-container-servicios {
        display: grid;
        grid-template-columns: 50% 50%;
        font-size: medium;
        justify-content: center;
    }
    
    .grid-item-servicios {
        text-align: center; 
    }
    
    .grid-item-servicios img{
        width: 30%;
        height: auto;
        cursor: pointer;
        border-radius: 5% / 5%;
    }
    
    .nombre{
        color: grey;
        font-size: small;
    }

    p{
        text-align: center;
    }
}


