<main>
<nav>
    <a href="javascript: history.go(-1)">Volver</a>
</nav>
<br>
<br>
<h1 class="titulo">SERVICIOS</h1>
<br>
<br>

<div class="grid-container-servicios">
    <div class="grid-item-servicios">
        <!-- <div class="servicios"> -->
            <a routerLink="farmacias"><img src="../../../assets/Imagenes/Iconos/FarmaciasIcono.png">
            <p>FARMACIAS DE TURNO</p></a>
       
     
    </div>
   
    <!-- <div class="grid-item"> -->
        <!-- <div class="servicios"> -->
        <!-- <a href="#"><img src="../../../assets/Imagenes/Iconos/FarmaciasIcono.png"><p>FARMACIAS DE TURNO</p></a> -->
    <!-- </div> -->
</div>
</main>



