<nav>
    <a href="javascript: history.go(-1)">Volver</a>
</nav>
<div class="calendario" >
    
    <h1>SEPTIEMBRE 2021</h1>
    <p class="nombre">(Haga click en la farmacia para ver su ubicación)</p>
<table class="tabla" >
    <ol>
      <li class="day-name">LUNES</li>
      <li class="day-name">MARTES</li>
      <li class="day-name">MIÉRCOLES</li>
      <li class="day-name">JUEVES</li>
      <li class="day-name">VIERNES</li>
      <li class="day-name">SÁBADO</li>
      <li class="day-name">DOMINGO</li>

      <li></li>
      <li></li>   
      <li class="first-day">1 <br> <br>
        <a type="button" class="btn btn-warning fas fa-plane" href="https://www.google.com/maps/place/Farmacia+de+la+Ruta/@-34.4451713,-58.7909719,17z/data=!3m1!4b1!4m5!3m4!1s0x95bc9ed735604287:0xbb4dd42172cdcb82!8m2!3d-34.4451591!4d-58.7887891" target="_blank"> De La Ruta</a>
      </li>
      <li>2<br><br>
        <a type="button" class="btn btn-warning fas fa-plane" href="https://www.google.com/maps/place/Farmacia+Herrera/@-34.4523323,-58.7955218,15z/data=!4m5!3m4!1s0x0:0xb635c4fa36362c62!8m2!3d-34.4523407!4d-58.7955103" target="_blank">  Herrera </a>
     </li>
      <li>3<br><br>
        <a type="button" class="btn btn-warning fas fa-plane" href="https://www.google.com/maps/place/FARMACIA+GUTKIND/@-34.452249,-58.8001144,17z/data=!3m1!4b1!4m5!3m4!1s0x95bc9ecc316c0dbb:0xe50d14a1d656db5b!8m2!3d-34.4522213!4d-58.797908" target="_blank">Gutkind  </a>
      </li>
      <li>4<br><br>
        <a type="button" class="btn btn-warning fas fa-plane" href="https://www.google.com/maps/place/Farmacia+Oro%C3%B1o/@-34.4540873,-58.7985795,17z/data=!3m1!4b1!4m5!3m4!1s0x95bc9ecd97333a0b:0xc72b613aeba795ab!8m2!3d-34.4540917!4d-58.7963908" target="_blank">Oroño (Mañana) </a>
        <br><br>
        <a type="button" class="btn btn-warning fas fa-plane" href="https://www.google.com/maps/place/FARMACIA+TEGALDO/@-34.4490326,-58.7984097,17z/data=!3m1!4b1!4m5!3m4!1s0x95bc9ece48f64ead:0x7de775a78771b094!8m2!3d-34.449037!4d-58.796221" target="_blank"> Del Sol (Tarde)</a>
    </li>
      <li>5 <br><br>
        <a type="button" class="btn btn-warning fas fa-plane" href="https://www.google.com/maps/place/FARMACIA+COOL/@-34.4578892,-58.7911244,14.75z/data=!4m9!1m2!2m1!1sfarmacia+coll!3m5!1s0x0:0x423d43372acfe8e8!8m2!3d-34.453841!4d-58.794646!15sCg1mYXJtYWNpYSBjb2xsWg8iDWZhcm1hY2lhIGNvbGySAQhwaGFybWFjeQ" target="_blank">Coll</a>
      </li>
      <li>6 <br><br>
        <a type="button" class="btn btn-warning fas fa-plane" href="https://www.google.com/maps/place/FARMACIA+TEGALDO/@-34.4490326,-58.7984097,17z/data=!3m1!4b1!4m5!3m4!1s0x95bc9ece48f64ead:0x7de775a78771b094!8m2!3d-34.449037!4d-58.796221" target="_blank"> Del Sol</a>
       <br></li>
      <li>7 <br>  <br>      
        <a type="button" class="btn btn-warning fas fa-plane" href="https://www.google.com/maps/place/Farmacia+de+la+Ruta/@-34.4451713,-58.7909719,17z/data=!3m1!4b1!4m5!3m4!1s0x95bc9ed735604287:0xbb4dd42172cdcb82!8m2!3d-34.4451591!4d-58.7887891" target="_blank"> De La Ruta</a>
        <br></li>
      <li>8 <br>    <br>    
        <a type="button" class="btn btn-warning fas fa-plane" href="https://www.google.com/maps/place/Farmacia+Herrera/@-34.4523323,-58.7955218,15z/data=!4m5!3m4!1s0x0:0xb635c4fa36362c62!8m2!3d-34.4523407!4d-58.7955103" target="_blank">  Herrera </a>
      </li>
      <li>9  <br>     <br>   
        <a type="button" class="btn btn-warning fas fa-plane" href="https://www.google.com/maps/place/FARMACIA+GUTKIND/@-34.452249,-58.8001144,17z/data=!3m1!4b1!4m5!3m4!1s0x95bc9ecc316c0dbb:0xe50d14a1d656db5b!8m2!3d-34.4522213!4d-58.797908" target="_blank">Gutkind  </a>
      </li>
      <li>10 <br>  <br>      
        <a type="button" class="btn btn-warning fas fa-plane" href="https://www.google.com/maps/place/Farmacia+Oro%C3%B1o/@-34.4540873,-58.7985795,17z/data=!3m1!4b1!4m5!3m4!1s0x95bc9ecd97333a0b:0xc72b613aeba795ab!8m2!3d-34.4540917!4d-58.7963908" target="_blank">Oroño  </a>
      </li>
      <li>11 <br>    <br>    
        <a type="button" class="btn btn-warning fas fa-plane" href="https://www.google.com/maps/place/FARMACIA+COOL/@-34.4578892,-58.7911244,14.75z/data=!4m9!1m2!2m1!1sfarmacia+coll!3m5!1s0x0:0x423d43372acfe8e8!8m2!3d-34.453841!4d-58.794646!15sCg1mYXJtYWNpYSBjb2xsWg8iDWZhcm1hY2lhIGNvbGySAQhwaGFybWFjeQ" target="_blank">Coll (Mañana)</a>
       <br>
       <br>
        <a type="button" class="btn btn-warning fas fa-plane" href="https://www.google.com/maps/place/Farmacia+Herrera/@-34.4523323,-58.7955218,15z/data=!4m5!3m4!1s0x0:0xb635c4fa36362c62!8m2!3d-34.4523407!4d-58.7955103" target="_blank">  Herrera (Tarde) </a>
        <br>  
      </li>
      <li>12 <br><br>
        <a type="button" class="btn btn-warning fas fa-plane" href="https://www.google.com/maps/place/FARMACIA+TEGALDO/@-34.4490326,-58.7984097,17z/data=!3m1!4b1!4m5!3m4!1s0x95bc9ece48f64ead:0x7de775a78771b094!8m2!3d-34.449037!4d-58.796221" target="_blank"> Del Sol</a>
      </li>    
      <li>13<br>       <br> 
        <a type="button" class="btn btn-warning fas fa-plane" href="https://www.google.com/maps/place/Farmacia+de+la+Ruta/@-34.4451713,-58.7909719,17z/data=!3m1!4b1!4m5!3m4!1s0x95bc9ed735604287:0xbb4dd42172cdcb82!8m2!3d-34.4451591!4d-58.7887891" target="_blank"> De La Ruta</a>
      </li>
      <li>14<br><br>
        <a type="button" class="btn btn-warning fas fa-plane" href="https://www.google.com/maps/place/Farmacia+Herrera/@-34.4523323,-58.7955218,15z/data=!4m5!3m4!1s0x0:0xb635c4fa36362c62!8m2!3d-34.4523407!4d-58.7955103" target="_blank">  Herrera </a>
     </li>
      <li>15 <br><br>
        <a type="button" class="btn btn-warning fas fa-plane" href="https://www.google.com/maps/place/FARMACIA+GUTKIND/@-34.452249,-58.8001144,17z/data=!3m1!4b1!4m5!3m4!1s0x95bc9ecc316c0dbb:0xe50d14a1d656db5b!8m2!3d-34.4522213!4d-58.797908" target="_blank">Gutkind  </a>
    </li>
      <li>16 <br><br>
        <a type="button" class="btn btn-warning fas fa-plane" href="https://www.google.com/maps/place/Farmacia+Oro%C3%B1o/@-34.4540873,-58.7985795,17z/data=!3m1!4b1!4m5!3m4!1s0x95bc9ecd97333a0b:0xc72b613aeba795ab!8m2!3d-34.4540917!4d-58.7963908" target="_blank">Oroño </a>
    </li>
      <li>17 <br>  <br>      
        <a type="button" class="btn btn-warning fas fa-plane" href="https://www.google.com/maps/place/FARMACIA+COOL/@-34.4578892,-58.7911244,14.75z/data=!4m9!1m2!2m1!1sfarmacia+coll!3m5!1s0x0:0x423d43372acfe8e8!8m2!3d-34.453841!4d-58.794646!15sCg1mYXJtYWNpYSBjb2xsWg8iDWZhcm1hY2lhIGNvbGySAQhwaGFybWFjeQ" target="_blank">Coll</a>
     </li>
    <li>18<br><br>
        <a type="button" class="btn btn-warning fas fa-plane" href="https://www.google.com/maps/place/FARMACIA+TEGALDO/@-34.4490326,-58.7984097,17z/data=!3m1!4b1!4m5!3m4!1s0x95bc9ece48f64ead:0x7de775a78771b094!8m2!3d-34.449037!4d-58.796221" target="_blank"> Del Sol (Mañana)</a>
        <br>
        <br>
        <a type="button" class="btn btn-warning fas fa-plane" href="https://www.google.com/maps/place/Farmacia+Oro%C3%B1o/@-34.4540873,-58.7985795,17z/data=!3m1!4b1!4m5!3m4!1s0x95bc9ecd97333a0b:0xc72b613aeba795ab!8m2!3d-34.4540917!4d-58.7963908" target="_blank">Oroño (Tarde) </a>
    </li>
    <li>19 <br>    <br>    
        <a type="button" class="btn btn-warning fas fa-plane" href="https://www.google.com/maps/place/Farmacia+de+la+Ruta/@-34.4451713,-58.7909719,17z/data=!3m1!4b1!4m5!3m4!1s0x95bc9ed735604287:0xbb4dd42172cdcb82!8m2!3d-34.4451591!4d-58.7887891" target="_blank"> De La Ruta</a>
    </li>
      <li>20<br>  <br>      
        <a type="button" class="btn btn-warning fas fa-plane" href="https://www.google.com/maps/place/Farmacia+Herrera/@-34.4523323,-58.7955218,15z/data=!4m5!3m4!1s0x0:0xb635c4fa36362c62!8m2!3d-34.4523407!4d-58.7955103" target="_blank">  Herrera </a>
      </li>
      <li>21<br><br>
        <a type="button" class="btn btn-warning fas fa-plane" href="https://www.google.com/maps/place/FARMACIA+GUTKIND/@-34.452249,-58.8001144,17z/data=!3m1!4b1!4m5!3m4!1s0x95bc9ecc316c0dbb:0xe50d14a1d656db5b!8m2!3d-34.4522213!4d-58.797908" target="_blank">Gutkind  </a>
    </li>
      <li>22<br><br>
        <a type="button" class="btn btn-warning fas fa-plane" href="https://www.google.com/maps/place/Farmacia+Oro%C3%B1o/@-34.4540873,-58.7985795,17z/data=!3m1!4b1!4m5!3m4!1s0x95bc9ecd97333a0b:0xc72b613aeba795ab!8m2!3d-34.4540917!4d-58.7963908" target="_blank">Oroño </a>
    </li>
      <li>23<br>  <br>      
        <a type="button" class="btn btn-warning fas fa-plane" href="https://www.google.com/maps/place/FARMACIA+COOL/@-34.4578892,-58.7911244,14.75z/data=!4m9!1m2!2m1!1sfarmacia+coll!3m5!1s0x0:0x423d43372acfe8e8!8m2!3d-34.453841!4d-58.794646!15sCg1mYXJtYWNpYSBjb2xsWg8iDWZhcm1hY2lhIGNvbGySAQhwaGFybWFjeQ" target="_blank">Coll</a>
     </li>
      <li>24 <br><br>
        <a type="button" class="btn btn-warning fas fa-plane" href="https://www.google.com/maps/place/FARMACIA+TEGALDO/@-34.4490326,-58.7984097,17z/data=!3m1!4b1!4m5!3m4!1s0x95bc9ece48f64ead:0x7de775a78771b094!8m2!3d-34.449037!4d-58.796221" target="_blank"> Del Sol</a>
      </li>
      <li>25<br><br>
        <a type="button" class="btn btn-warning fas fa-plane" href="https://www.google.com/maps/place/Farmacia+de+la+Ruta/@-34.4451713,-58.7909719,17z/data=!3m1!4b1!4m5!3m4!1s0x95bc9ed735604287:0xbb4dd42172cdcb82!8m2!3d-34.4451591!4d-58.7887891" target="_blank"> De La Ruta (Mañana)</a>
        <br>
        <br>
        <a type="button" class="btn btn-warning fas fa-plane" href="https://www.google.com/maps/place/FARMACIA+GUTKIND/@-34.452249,-58.8001144,17z/data=!3m1!4b1!4m5!3m4!1s0x95bc9ecc316c0dbb:0xe50d14a1d656db5b!8m2!3d-34.4522213!4d-58.797908" target="_blank">Gutkind (Tarde) </a>
    </li>
      <li>26 <br><br>
        <a type="button" class="btn btn-warning fas fa-plane" href="https://www.google.com/maps/place/Farmacia+Herrera/@-34.4523323,-58.7955218,15z/data=!4m5!3m4!1s0x0:0xb635c4fa36362c62!8m2!3d-34.4523407!4d-58.7955103" target="_blank">  Herrera </a>
      </li>
      <li>27 <br><br>
        <a type="button" class="btn btn-warning fas fa-plane" href="https://www.google.com/maps/place/FARMACIA+GUTKIND/@-34.452249,-58.8001144,17z/data=!3m1!4b1!4m5!3m4!1s0x95bc9ecc316c0dbb:0xe50d14a1d656db5b!8m2!3d-34.4522213!4d-58.797908" target="_blank">Gutkind  </a>
      </li>
      <li>28<br><br>
        <a type="button" class="btn btn-warning fas fa-plane" href="https://www.google.com/maps/place/Farmacia+Oro%C3%B1o/@-34.4540873,-58.7985795,17z/data=!3m1!4b1!4m5!3m4!1s0x95bc9ecd97333a0b:0xc72b613aeba795ab!8m2!3d-34.4540917!4d-58.7963908" target="_blank">Oroño </a>
    </li>
      <li>29<br>   <br>     
        <a type="button" class="btn btn-warning fas fa-plane" href="https://www.google.com/maps/place/FARMACIA+COOL/@-34.4578892,-58.7911244,14.75z/data=!4m9!1m2!2m1!1sfarmacia+coll!3m5!1s0x0:0x423d43372acfe8e8!8m2!3d-34.453841!4d-58.794646!15sCg1mYXJtYWNpYSBjb2xsWg8iDWZhcm1hY2lhIGNvbGySAQhwaGFybWFjeQ" target="_blank">Coll</a>
     </li>
      <li>30<br><br>
        <a type="button" class="btn btn-warning fas fa-plane" href="https://www.google.com/maps/place/FARMACIA+TEGALDO/@-34.4490326,-58.7984097,17z/data=!3m1!4b1!4m5!3m4!1s0x95bc9ece48f64ead:0x7de775a78771b094!8m2!3d-34.449037!4d-58.796221" target="_blank"> Del Sol</a></li>
      <li>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
  
      </li>
      <li></li>
      <li></li>
    </ol>
</table>
  </div>